{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block hero %}
<link rel="stylesheet" type="text/css" href="{% static 'Shop/ccss/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Shop/css/main.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h4 style="text-align: center;" class="alert-heading">Well done</h4>
            <p><b>An Email has been sent with instructions to reset your Password.Check your Email!</b></p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripthero %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}