{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block hero %}
<link rel="stylesheet" type="text/css" href="{% static 'Shop/ccss/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Shop/css/main.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-12 offset-sm-3">
            <h4 style="margin-top: 40px;">Password Changes Complete</h4>
            <div><iframe src="https://giphy.com/embed/ibolLe3mOqHe3PQTtk" width="200" height="200" frameborder="0"
                    class="giphy-embed" allowfullscreen></iframe></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripthero %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}