{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block hero %}
<link rel="stylesheet" type="text/css" href="{% static 'Shop/ccss/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Shop/css/main.css' %}">
{% endblock %}

{% block content %}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-form-title">
				<span class="login100-form-title-1">
					Enter Your Email
				</span>
			</div>
			<form class="login100-form validate-form" action="" method="POST" novalidate >
				{% csrf_token %}
				{% for fm in form %}
				<div class="form-group mb-3">
					{{fm.label_tag}}{{fm}}<small class="text-danger">{{fm.errors | striptags }}</small><br>
				</div>
				{% endfor %}
				<div class="flex-sb-m w-full p-b-30">
					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
					</div>
				</div>
				<div style="display: flex; align-items: baseline;gap: 30px;" class="container-login100-form-btn">
					<div>
						<input type="submit" class="login100-form-btn" value="Continue" />
					</div>
					<!-- <input type="submit" class="login100-form-btn" value="Login"> -->
				</div>


				{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
				<p class="alert alert-danger my-3">{{error}}</p>
				{% endfor %}
				{% endif %}
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block scripthero %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}